:global(.content) {
    height: 100vh;
}
.content_text {
    // padding:0 32px;
    width:100%;
    height: 100%;
    background: url(../../images/invitefriends/图层3@2x.png) no-repeat center center;
    background-size: 100% 100%;
    position: relative;
 
}
.noticeBar {
    width:3.43rem;
    height:.45rem;
    background:rgba(89,0,214,1);
    border:2px solid rgba(179, 125, 255, 1);
    border-radius:4px;
    position: absolute;
    top: 4.2rem;
    left: 0;
    right: 0;
    margin:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        width:34px;
        height:10px;
    }
    span {
        font-size:14px;
        font-weight:500;
        color:rgba(228,224,255,1);
    }
}