:global(h3),:global(h6),:global(p)  {
    margin: 0;
    padding:0;
}
:global(content) {
    background:rgba(248,248,248,1);
    position: relative;
}
.notOpen {
    height: .8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .headPort {
        width: 40px;
        height: 40px;
        margin:0 .1rem 0 .15rem;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .tip {
        font-size:12px;
        font-weight:500;
        color:rgba(59,50,50,1);
        p {
            font-size:14px;
            font-weight:bold;
            color:rgba(59,50,50,1);
            padding-top: .05rem;
        }
    }
}
.monthVip {
    min-height: 2.54rem;
    background-color: #fff;
    padding:0 .15rem;
    h3 {
        height: 56px;
        line-height: 56px;
        font-size:17px;
        font-weight:bold;
        color:rgba(59,50,50,1);
    }
    .months {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .monthList {
            width:167px;
            height:80px;
            background:rgba(248,248,248,1);
            border:0.5px solid rgba(59, 50, 50, 1);
            border-radius:4px;
            margin-bottom:10px;
            padding:.13rem .07rem .1rem .16rem;
            p {
                font-size:14px;
                font-weight:500;
                color:rgba(59,50,50,1);
                display: flex;
                justify-content: space-between;
                &:nth-of-type(2) {
                    font-size:14px;
                    font-weight:bold;
                    color:rgba(59,50,50,1);
                    height:30px;
                    line-height: 30px;
                }
                &:nth-of-type(3) {
                    font-size:9px;
                    font-weight:500;
                    text-decoration:line-through;
                    color:rgba(59,50,50,1);
                    opacity:0.49;
                }
                span {
                    &:nth-of-type(2) {
                        width:16px;
                        height:16px;
                        background:rgba(248,248,248,1);
                        border:0.5px solid rgba(59,50,50,1);
                        border-radius:50%;
                    }
                }
            }
        }
        .monthListActive {
            background:linear-gradient(45deg,rgba(59,50,50,1),rgba(105,94,88,1));
            p {
                color:rgba(243,229,217,1);
                &:nth-of-type(2) {
                    color:rgba(243,229,217,1);
                }
                &:nth-of-type(3) {
                    color:rgba(243,229,217,1);
                    opacity:0.5;
                }
                span {
                    &:nth-of-type(2) {
                        width: 19px;
                        height: 19px;
                        background: url(../../images/recharge/danxuan.svg) no-repeat center center;
                        background-size: contain;
                    }
                }
            }
        }
    }
    > p {
        display: flex;
        justify-content: space-between;
        height: 56px;
        line-height: 56px;
        span {
            position: relative;
            &:first-of-type {
                position: relative;
                padding-left: 30px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    margin:auto;
                    width:19px;
                    height:19px;
                    background: url(../../images/recharge/weixin.svg) no-repeat center center;
                    background-size: contain;
                }
            }
            &:nth-of-type(2) {
                position: absolute;
                top: 0;
                bottom: 0%;
                right: 0;
                margin:auto;
                width: 19px;
                height: 19px;
                background:rgba(248,248,248,1);
                border:0.5px solid rgba(59,50,50,1);
                border-radius:50%;
                // background: url(../../images/recharge/xuanzhong.svg) no-repeat center center;
                // background-size: contain;
            }
        }
        &:nth-of-type(2) {
            span {
                &:first-of-type {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        margin:auto;
                        width:19px;
                        height:19px;
                        background: url(../../images/recharge/zhifubao.svg) no-repeat center center;
                        background-size: contain;
                    }
                }
            }

        }
    }
}
.paymentType {
    border:none !important;
    background: url(../../images/recharge/xuanzhong.svg) no-repeat center center !important;
    background-size: contain !important;
}
.privilege {
    height: 1.5rem;
    background-color: #fff;
    margin:0.08rem 0;
    padding:0 .15rem;
    .privilegeHead {
        height: 64px;
        line-height: 64px;
        display: flex;
        align-items: center;
        position: relative;
        .lineBorder {
            height:1px;
            width: 100%;
            background:linear-gradient(45deg,rgba(59,50,50,1),rgba(105,94,88,1));
            
        }
        h3 {
            font-size:17px;
            font-weight:bold;
            color:rgba(25,25,25,1);
            white-space: nowrap;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            width: .95rem;
            background-color: #fff;
        }
    }
    .privilegeIcon {
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-size:10px;
        img {
            width: 40px;
            height: 40px;
            margin-bottom: 16px;
        }
    }
}

.tips {
    height: 104px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0 .15rem 0.05rem;
    margin-bottom: 0.05rem;
    h6 {
        font-size:13px;
        font-weight:500;
        color:rgba(122,122,122,1);
        height:42px;
        line-height: 42px;
    }
    p {
        font-size:12px;
        font-weight:500;
        color:rgba(176,176,176,1);
    }
}

.payment {
    height: 70px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 .15rem;
    position: fixed;
    bottom: 0;
    div {
        font-size:18px;
        font-weight:bold;
        color:rgba(25,25,25,1);
        span {
            vertical-align: middle;
        }
        .gj {
            font-size:14px;
            font-weight:500;
            color:rgba(122,122,122,1);
        }
    }

    :global{
        .btn {
            width:170px;
            height:42px;
            background:rgba(240,213,154,1);
            opacity:0.84;
            border-radius:42px;
            font-size:16px;
            font-weight:bold;
            color:rgba(59,50,50,1);
        }
    }
        

}
.hide {
    display: none !important; 
}