:global(h1),:global(p)  {
    margin: 0;
    padding:0;
}
:global(.content),:global(p)  {
    position: relative;
}
.contentsub {
    position: relative;
    height:1.54rem;
}
.mygold {
    width:3.6rem;
    height:100%;
    background:linear-gradient(56deg,rgba(255,101,20,1),rgba(255,143,64,1));
    border-radius:6px;
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
    top: .1rem;
    color: #ffffff;
    text-align:center;
    .jbye {
        font-size:13px;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:.3rem;
    }
    h1 {
        font-size:36px;
        font-family:'DIN Alternate';
        font-weight:bold;
        color:rgba(255,255,255,1);
        line-height:.6rem;
    }
    .todyAndAll {
        display: flex;
        justify-content: space-around;
        span {
            font-size:13px;
            font-family:"PingFang SC";
            font-weight:500;
            color:rgba(255,255,255,1);
            line-height:.3rem;
        }
        p {
            font-size:13px;
            font-family:"DIN Alternate";
            font-weight:bold;
            color:rgba(255,255,255,1);
            line-height:.3rem;
        }
    }
}
// 金币详情
.icondetails {
    margin-top:.4rem;
    padding:0 .16rem;
    h3 {
        font-size:17px;
        font-weight:bold;
        color:rgba(25,25,25,1);
        line-height:.3rem;
    }
}
.icondetailsAll {
    .icondetailsList {
        display: flex;
        justify-content: space-between;
        height: .75rem;
    }
    .icondetailsListName {
        font-size:15px;
        font-weight:500;
        color:rgba(25,25,25,1);
    }
    .icondetailsListdate {
        font-size:12px;
        font-weight:500;
        color:rgba(176,176,176,1);
        padding-top: .1rem;
    }
    .icondetailsListgold {
        font-size:15px;
        font-weight:bold;
        color:rgba(253,159,19,1);
    }

}
.tip {
    font-size:10px;
    font-weight:500;
    color:rgba(176,176,176,1);
    padding:.15rem 0;
    text-align: center;
}
.btn {
    width:3rem;
    height:.5rem;
    background:linear-gradient(90deg,rgba(255,101,20,1),rgba(255,139,3,1));
    border:0;
    border-radius:.25rem;
    font-size:32px;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:.15rem;
    font-size:32px;
    margin:.1rem auto;
    text-align: center;
    display: grid;
}