
:global {
    .navbar {
        .am-navbar-right {
            color: #7A7A7A !important;
        }
    }
}
.onRightClick {
    width: 1rem;
    height: .45rem;
    border: solid 1px red;
    position: absolute;
    top: 0;
    right: 0;
}