.content_max {
    :global {
        .am-navbar-light {
            background:rgba(255,143,64,1);
            color:#fff;
            margin-bottom: -1px;
            .am-navbar-title {
                color: #fff;
            }
        }
    }

}
// :global(.content) {
//     overflow-x: hidden;
//     // background-color: rgba(255,143,64,1);

// }
.content_text {
    height: 1.75rem;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    .content_text_bg {
        height: 1.75rem;
        width: 200%;
        position: relative;
        background-color: rgba(255,143,64,1);
        border-radius:0 0 200% 200%;
        position: absolute;
        left: 50%;
        margin-left:-100%;
        text-align: center;
        p {
            font-size:36px;
            font-family:'DIN Alternate';
            font-weight:bold;
            color:rgba(255,255,255,1);
            &:first-of-type {
                padding-top: .35rem;
            }
            &:nth-of-type(2) {
                font-size:12px;
                font-weight:500;
                padding-top: 0.03rem;
            }
        }
    }
}
.flex {
    padding: 0 .18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        flex-direction: column;
    }

}
.goSiginsParse {
    position: absolute;
    top: 1.6rem;
    width: 100%;
    padding:0 .1rem;
}
.goSigins {
    width: 100%;
    padding-bottom: .18rem;
    // border:solid 1px red;
}
.goSigin {
    width:100%;
    height:.88rem;
    background:rgba(255,255,255,1);
    border-radius:6px;
    .yd10 {
        padding-left: 55px;
        background: url(../../images/fulizhongxin/台历.png) no-repeat left center;
        background-size: 40px 35px;
        .p1 {
            font-size:15px;
            font-weight:bold;
            color:rgba(25,25,25,1);
            padding-bottom: 5px;
        }
        .p2 {
            font-size:12px;
            font-weight:500;
            color:rgba(176,176,176,1);
            // padding-top: 2px;
            :global{
                .am-icon {
                    vertical-align: middle;
                }
            }
        }
    }
}

.btnq {
    padding:9px 17px;
    font-size:14px;
    font-weight:500;
    color:rgba(255,255,255,1);
    background:linear-gradient(90deg,rgba(255,101,20,1),rgba(255,139,3,1));
    border-radius:17px;
    a {
        color:rgba(255,255,255,1);
    }
}