:global {
    .am-navbar-light {
        background:linear-gradient(56deg,rgba(255,101,20,1),rgba(255,143,64,1));
        color:#fff;

        .am-navbar-title {
            color: #fff;
        }
    }
}